<div class="main users-token">
  <div class="container-fluid">
    <div class="text-center">
      <p><h4>下記をクリックするとユーザー認証が完了します</h4><p>
      <p><%= link_to("ユーザー認証を完了する", :controller => "users", :action => "auth_update") %></p
    </div>
  </div>
</div>
