<div class="main users-index">
  <div class="container-fluid">
    <div class="text-center"><h3>ユーザー一覧</h3></div>

      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width=20></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= image_tag("#{user.image}", :size => "40x40", :class => "img-circle") %></td>
                <td><%= link_to(user.name, user_path(user)) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

  </div>
</div>
