<div class="main users-index">
  <div class="container-fluid">
    <h3 class="users-heading text-center">ユーザー一覧</h3>
    <div class="users-index-item">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width=20></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= image_tag("/user_images/#{user.image}", :size => "40x40", :class => "img-circle") %></td>
                <td><%= link_to(user.name, "/users/#{user.id}") %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
