<div class="main users-mypage">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div id="calendar"></div>
      </div>
    </div>

  </div>
</div>
