<div class="main users-registerd">
  <div class="container-fluid">
    <div class="text-center">
      <h4>ユーザー登録が完了しました</h4>
      <br>
      <p>ユーザー認証のためのメールを送信しました。</p>
      <p>送信されたメールよりユーザー認証をお願いします。</p>
    </div>
  </div>
</div>
