<div class="main user-success">
  <div class="container-fluid">
    <div class="user text-center">
      <h4 class="users-heading text-center">ユーザー登録が完了しました</h4>
      <br>
      <p>ユーザー認証のためのメールを送信しました。</p>
      <p>送信されたメールに記載のURLよりユーザー認証をお願いします。</p>
    </div>
  </div>
</div>
